<div class="container">
  <div class="wrapper col-md-12 col-sm-12">
    <p id="notice"><%= notice %></p>
      <h1>(1)タスクの作成</h1>

      <%= render 'form' %>

      <%= link_to '戻る', user_tasks_path(@task.user_id) %>

  </div>
</div>