<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6">
      <div class="user-avatar">
        <%= profile_img(user) %>
      </div>
      <%= link_to users_path(user) do %>
        <%= user.name %>
      <% end %>

      <% unless user.id == current_user.id %>      
        <%= render 'follow_form', user: user %>
      <% end %>
        
    </div>
  <% end %>
</div>